:root {
  --border-color: #ffcc00;
  --border: 3px solid var(--border-color);
  --text-neon: 0 0 45px var(--border-color);
}

* {
  margin: 0;
}

.StarWars{
  box-sizing: border-box;
  padding: 50px;
  height: 100vh;
  transition: 2s all;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__header {
    box-sizing:border-box;
    width: 100%;
    padding: 25px 0;
  }

  &__logo {
    width: 200px;
    height: 100px;
    background: url(./img/Star_Wars_Yellow_Logo.svg.png) center / contain
      no-repeat;
  }

  &__wrapper {
    box-sizing:border-box;
    width: 800px;
    padding: 50px 0;
  }

  &__form {
    display: flex;
    justify-content: start;
    gap: 30px;
  }

  &__input {
    box-sizing: border-box;
    padding: 5px 20px;
    width: 300px;
    height: 35px;
    border-radius: 50px;
    border: var(--border);
    outline: none;

    &::placeholder {
      color: #999;
    }

    &:hover {
      box-shadow: 0px 0px 45px var(--border-color);
      transition: 0.4s all;
    }

    &:active {
      box-shadow: 0px 0px 45px #ff6666;
    }
  }

  &__btn {
    box-sizing: border-box;
    width: 100px;
    height: 35px;
    border: var(--border);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s all;
    text-transform: uppercase;
    color: #999;

    &:hover {
      scale: 105%;
      box-shadow: 0px 0px 45px var(--border-color);
    }

    &:active {
      box-shadow: 0px 0px 45px #ff6666;
    }
  }
}

.characters {
  box-sizing: border-box;
  margin-top: 50px;
  display: flex;

  &__wrapper {
    width: 100%;
  }

  &__title {
    color: #ff6666;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: var(--text-neon);
  }

  &__descr {
    margin-top: 10px;
    color: white;
    letter-spacing: 2px;
    text-shadow: var(--text-neon);
  }
}


